{% extends "base.html" %}

{% block main %}
Ola!
{{user.employee.name}}
<a href="{% url 'logout' %}">Logout</a>
<ul>
    <li>
        <a href="{% url 'employees:list' %}"> Gerenciar funcionarios</a>
    </li>
    <li>
        <a href="{% url 'departments:list' %}"> Gerenciar departamentos</a>
    </li>
</ul>

{% if user.employee.company %}
<a href="{% url 'companies:company_update' user.employee.company.id %}">Editar Empresa</a>
{% else %}
<a href="{% url 'companies:company_create' %}">Criar Empresa</a>
{% endif %}

{% endblock main %}